<header>
    Header
    <% if(locals.user){ %>
        <!-- ye sab ek dropdown mai de dio header ke -->
        <li><a href="/admin/sign-out">Sign Out</a></li>
        <li>
            <%= locals.user.name %>
        </li>
        <li>
            <%= locals.user.email %>
        </li>
        <% } %>
</header>