<link rel="stylesheet" type="text/css" href="/css/home.css">
<<<<<<< HEAD
<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="main-btn">
                    <a href="/admin/sign-in"><button class="btn">SignIn Admin</button></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="main-btn">
                    <a href="/admin/sign-up"><button class="btn">SignUp Admin</button></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="main-btn">
                    <a href="/staff/sign-in"><button class="btn">SignIn Staff</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
=======
<a href="/admin/sign-in"><button>SignIn Admin</button></a>
<a href="/admin/sign-up"><button>SignUp</button></a>
<a href="/staff/sign-in"><button>SignIn Staff</button></a>
>>>>>>> d5a76b7c95bd7964c9c5d83adc229b1148c3d404
