<link rel="stylesheet" type="text/css" href="/css/staff_search_inventory.css">
<% if(locals.user){ %>
    <div class="main-container">
        <!-- isko bhi side mai as a list add krio -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

                <a class="navbar-brand" href=" /staff/profile">Update Inventory</a>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">

                        <a class="nav-link" href=" /staff/search">Search Inventory <span
                                class="sr-only">(current)</span></a>

                    </li>
                    <li class="nav-item active">

                        <a class="nav-link" href=" /staff/patient">View Patient <span
                                class="sr-only">(current)</span></a>
                    </li>

                </ul>
            </div>
        </nav>
        <div class="container-fluid">

            <table border="1" style="text-align: center;">
                <thead>
                    <th>Token Number</th>
                    <th>Name</th>
                    <th>Mobile Number</th>
                    <th>Report Image</th>
                </thead>
                <tbody>
                    <% for(report of reports){%>
                        <tr>
                            <td>
                                <%= report.token %>
                            </td>
                            <td>
                                <%= report.name%>
                            </td>
                            <td>
                                <%= report.number %>
                            </td>
                            <td>
                                <a target="_blank" href="<%= report.canvasImage %>">Report</a>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </div>

    <% } %>